{% extends 'base.html' %}

{% load static %} 
{% block head %}
    <script src="{% static 'orders/menu.js' %}"></script>
    
{% endblock %}

{% block content %}
<div class="container">
  <h1>Pinochio's Menù</h1>

  <div class="row">

    <div class='col-10'>
    {% for dishCat in DishCategory %}

      <div class="container dish-category m-4">

        <!-- Dish Category -->
        <div class="row">
            <h3 class="mr-4 col-9">{{ dishCat.name }}</h3>
            <button class="col-1">Show</button>
        </div>

        <!-- List of Dish -->
        <div class="dish-list m-2 w-75"><table class="table">
          <tr>
            <th style="width: 25%"></th> <!-- Dish -->

            {% if 'S' in dishCat.available_dimension %}
              <th style="width: 25%">Small</th> 
            {% endif %}
            {% if 'M' in dishCat.available_dimension %}
              <th style="width: 25%">Normal</th>
            {% endif %}
            {% if 'L' in dishCat.available_dimension %}
              <th style="width: 25%">Large</th>
            {% endif %}
            
            <th style="width: 25%"></th> <!-- Topping/addition button -->
          </tr>
          
          {% for dish in Dish %}

            {% if dish.category == dishCat %}
              <tr class="cl-10">
                <td class="dish-name">{{ dish.name }}</td>
                
                <!-- Prices -->
                {% if dish.prices.S %}
                  <td>
                    <span>{{ dish.prices.S }}</span>
                    <a href="#" data-priceid="{{ dish.prices_id.S }}" class="glyphicon glyphicon-shopping-cart add-to-chart">
                  </td> 
                {% elif 'S' in dishCat.available_dimension %}
                  <td> - </td>
                {% endif %}

                {% if 'M' in dishCat.available_dimension %}
                <td>
                  <span>{{ dish.prices.M }}</span>
                  <a href="#" data-priceid="{{ dish.prices_id.M }}" class="glyphicon glyphicon-shopping-cart add-to-chart">
                </td> 
                {% elif 'M' in dishCat.available_dimension %}
                  <td> - </td>
                {% endif %}
                
                {% if 'L' in dishCat.available_dimension %}
                <td>
                  <span>{{ dish.prices.L }}</span>
                  <a href="#" data-priceid="{{ dish.prices_id.L }}" class="glyphicon glyphicon-shopping-cart add-to-chart">
                </td> 
                {% elif 'L' in dishCat.available_dimension %}
                <td> - </td>
                {% endif %}
                
                {% if dish.number_available_toppings > 0 %}
                  <td class="topping" data-n-available="{{ dish.number_available_toppings }}"></td>
                {% endif %}

                <!-- Addition -->
                {% if dish.addition_present %}
                  <td>
                    {% for id, nome, prezzo in dish.addition_list %}
                      <input type="checkbox" id="addition-{{ id }}" name="addition-dish-{{ dish.id }}">
                      <label>{{ nome }}: +{{ prezzo }}</label><br>
                    {% endfor%}
                  </td>
                {% endif %}
              </tr>
            {% endif %}

          {% endfor %}

        </table></div>
      </div>

    {% endfor %}
    </div>

    <div class="col-2">
      <h3>Toppings</h3>
      <table>
        {% for topping in Toppings %}
        <tr><td>
          <input type="checkbox" id="topping-{{ topping.id }}" name="topping" value="{{ topping.name }}">
          <label>{{ topping.name }}</label>
        </td></tr>
        {% endfor %}
      </table>
    </div>

  </div>
</div>


{% endblock %}