{% extends 'base.html' %}
{% load static %} 


{% block content %}
<div class="container">
    <h1>Hello {{ user.username }}!</h1>
    <p>Here is your orders!</p>
</div>

<div class="container">
    <h3>Orders ongoing</h3>
    <div class="dish-list m-2 w-75"><table class="table">
        <tr>
            <th>Order id</th>
            <th>Date</th>
            <th>Number dish</th>
            <th class="text-center">Dish</th>
            <th>Price</th>
        </tr>

        {% for item in orders_opened %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.insertdate }}</td>
            <td>{{ item.n_dish }}</td>
            <td><ul>
                {% for dish in item.dishes %}
                    <li class="row">
                        <div class="col-8">{{ dish.str_ }}</div>
                        <div class="col-4">{{ dish.price }}</div>
                    </li>
                {% endfor %}
            </ul></td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}

    </table></div>
</div>

<div class="container">
    <h3>Orders completed</h3>
    <div class="dish-list m-2 w-75"><table class="table">
        <tr>
            <th>Order id</th>
            <th>Date</th>
            <th>Number dish</th>
            <th class="text-center">Dish</th>
            <th>Price</th>
            <th>Closed date</th>
        </tr>

        {% for item in orders_completed %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.insertdate }}</td>
            <td>{{ item.n_dish }}</td>
            <td><ul>
                {% for dish in item.dishes %}
                    <li class="row">
                        <div class="col-8">{{ dish.str_ }}</div>
                        <div class="col-4">{{ dish.price }}</div>
                    </li>
                {% endfor %}
            </ul></td>
            <td>{{ item.total_price }}</td>
            <td></td>
        </tr>
        {% endfor %}

    </table></div>
</div>

{% endblock %}