<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <title>Flack</title>
    </head>
    <body>
        <div id="title">
            <h1>Flack</h1>
            <div id="disp-username"></div>
        </div>

        <div id="page" class="container row">
            <div id="lateral-menu" class="col-10">
                <div id="channel-list" class="btn-group-vertical">
                    <div class="input-group">
                        <input class="form-control" type="text" name="new-channel" placeholder="new channel">
                        <button id="new-channel" class="input-group-btn inline">+</button>
                    </div>
                </div>

            </div>
            <div id="messages col">
                <span>messaggio</span>
            </div>
        </div>
    </body>
</html>
