<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Pinnochio’s Pizza & Subs</title>{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% block head %} {% endblock %}
</head>
<body>
  {% if user.is_authenticated %}
  <div class="d-flex flex-row-reverse">

    <!-- Here is the logout button, always present -->
    <div class="float-right">
      <a href="{% url 'logout' %}" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>
    </div>
  
    
    <!-- Here is the shopping cart -->
    <button type="button" class="btn btn-default btn-sm">
      <span id="cart" class="glyphicon glyphicon-shopping-cart"></span>
      <span>Shopping Cart</span>
      <span id="cart-element-number" class="badge badge-light"></span>
    </button>

  </div>
  {% endif %}


  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>