<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Pinnochio’s Pizza & Subs</title>{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% block head %} {% endblock %}
</head>
<body>
  <!-- Here is the logout button, always present -->
  <div class="d-flex flex-row-reverse">
    <div class="float-right">
      <a href="{% url 'logout' %}" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>
    </div>
  </div>

  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>