$margin: 25px;



img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $margin;
}


%main {
    margin: $margin;
}

div p {
    @extend %main;
}


div > h3 {
    @extend %main;
    text-align: left;
}

div > div > h3 {
    @extend %main;
    text-align: center;
}


.main {
    @extend %main;
}

.row {
    margin-bottom: $margin;
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
}

.top1 {
    
    p {
        font-size: 14pt;
    }
}